<h1 class="p-2">Stupid Coaching</h1>
<p class="p-2">Ask your coach anything :</p>
<form action="/answer" data-turbo="false">
<div class="input-group p-2">
  <input type="text" class="form-control" placeholder="Question" aria-label="Question" aria-describedby="button-addon2" name="answer">
  <input class="btn btn-primary" type="submit" value="Ask!">
</div>
</form>
